# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Incluir arquivos gerados do drift
!*.g.dart
!lib/database/database.g.dart

# Windows specific
*.exe
*.dll
*.pdb
*.zip
*.msix
*.msixbundle
*.appx
*.msi

# Project specific
/installer_output/
/windows/flutter/ephemeral/
.vs/
/temp_command.bat

# Incluir diretórios de dados
!/projetosalvos/
!/projetosalvosBKP/

# Large files and directories
*.7z
*.rar
*.tar
*.gz
*.iso
*.jar
*.war
*.ear
*.sar

# Incluir banco de dados
!*.db
!*.db-journal
!*.sqlite
!*.sqlite3

# Logs and backups
*.bak
*.tmp
*.temp
